/* Faz o input do header ocupar 70% da largura */
header {
  margin-bottom: 60px;
}
.input-header {
    width: 70vw;
    max-width: 100%;
    min-width: 200px;
}

.navbar {
    display: flex;
    align-items: center;
}
.form-inline {
    flex: 1;
    display: flex;
    width: 100%;
    min-width: 200px;
}
.input-header {
    flex: 1;
    width: 100%;
    min-width: 200px;
}

.perfil-header {
    border-radius: 50%;
    border: solid 1px black;
}

nav ul li {
    margin-left: 30px;
}

.hamburguer-menu {
  display: none;
}

.span-perfil {
    display: none;
}


.dropdown-item {
    display: flex;
}

.dropdown-item img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}


@media (max-width: 1200px) {
  .form-inline{
    display: none;
  }

  .img-carrinho,
  .img-perfil {
    display: none;
  }
  .hamburguer-menu {
    display: block;
  }

  .span-perfil {
    display: block;
}


  
}